.home_intro_container {
  position: relative;
  padding: 0 !important;
  margin: calc(-1 * var(--header-height)) 0 0 !important;
}

.home_intro_awards {
  display: flex;
  width: 100%;
  justify-content: center;
  padding: 15vw var(--grid-padding);
  gap: var(--grid-gutter);
}
.home_intro_awards li {
  flex: 1 1;
}
.home_intro_awards a {
  display: inline-flex;
  width: 100%;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}
.home_intro_awards a:focus-visible,
.home_intro_awards a:hover {
  outline: 0;
  text-decoration: underline;
  text-decoration-thickness: 0.2rem;
}
.home_intro_awards a:focus-visible svg,
.home_intro_awards a:hover svg {
  transform: scale3d(1.05, 1.05, 1);
}
.home_intro_awards figure {
  width: 75%;
}
@media only screen and (min-width: 720px) {
  .home_intro_awards figure {
    width: 55%;
  }
}
@media only screen and (min-width: 1024px) {
  .home_intro_awards figure {
    width: 40%;
  }
}
.home_intro_awards svg {
  aspect-ratio: 175/101;
  transition: transform var(--bd-time-transition-250) var(--ease-out-soft);
}
.home_intro_awards span {
  max-width: 20rem;
  margin-top: 3.5rem;
  font-size: 1rem;
  text-align: center;
  text-transform: uppercase;
}
@media only screen and (min-width: 1024px) {
  .home_intro_awards span {
    font-size: 1.3rem;
  }
}
