.home_clients_container__NBR2A h2 {
  max-width: calc(
    (var(--grid-width) + var(--grid-gutter) - var(--grid-padding) * 2) /
      var(--grid-column-count) * 3 - var(--grid-gutter)
  );
  text-transform: uppercase;
}
.home_clients_container__NBR2A ul {
  display: flex;
  padding-top: 6.25rem;
}
@media only screen and (min-width: 1024px) {
  .home_clients_container__NBR2A ul {
    padding-top: 12.5rem;
  }
}
.home_clients_container__NBR2A ul:after {
  display: block;
  width: var(--grid-padding);
  flex-shrink: 0;
  content: "";
}
.home_clients_container__NBR2A .home_clients_item__cm4_p {
  width: calc(
    (var(--grid-width) + var(--grid-gutter) - var(--grid-padding) * 2) /
      var(--grid-column-count) * 5 - var(--grid-gutter)
  );
  flex-shrink: 0;
}
@media only screen and (min-width: 720px) {
  .home_clients_container__NBR2A .home_clients_item__cm4_p {
    width: calc(
      (var(--grid-width) + var(--grid-gutter) - var(--grid-padding) * 2) /
        var(--grid-column-count) * 3 - var(--grid-gutter)
    );
  }
}
@media only screen and (min-width: 1024px) {
  .home_clients_container__NBR2A .home_clients_item__cm4_p {
    width: calc(
      (var(--grid-width) + var(--grid-gutter) - var(--grid-padding) * 2) /
        var(--grid-column-count) * 2 - var(--grid-gutter)
    );
  }
}
@media only screen and (min-width: 1280px) {
  .home_clients_container__NBR2A .home_clients_item__cm4_p {
    width: calc(
      (var(--grid-width) + var(--grid-gutter) - var(--grid-padding) * 2) /
        var(--grid-column-count) * 4 - var(--grid-gutter)
    );
    padding-right: calc(
      (var(--grid-width) + var(--grid-gutter) - var(--grid-padding) * 2) /
        var(--grid-column-count) * 1 - var(--grid-gutter)
    );
  }
}
.home_clients_container__NBR2A
  .home_clients_item__cm4_p
  + .home_clients_item__cm4_p {
  margin-left: var(--grid-gutter);
}
.home_clients_container__NBR2A .home_clients_item_logo__55MDM {
  display: flex;
  width: 100%;
  height: 4rem;
  align-items: center;
}
.home_clients_container__NBR2A .home_clients_item_logo__55MDM > * {
  width: 100%;
  height: 100%;
}
.home_clients_container__NBR2A .home_clients_item_logo__55MDM img {
  object-fit: contain;
  object-position: 0 50%;
}
.home_clients_container__NBR2A h5 {
  position: relative;
  padding-top: 5rem;
  margin-top: 2rem;
  text-transform: uppercase;
}
@media only screen and (min-width: 1280px) {
  .home_clients_container__NBR2A h5 {
    padding-top: 10rem;
  }
}
.home_clients_container__NBR2A h5:before {
  position: absolute;
  top: 0;
  left: 0;
  width: 2rem;
  height: 0.2rem;
  background-color: currentcolor;
  content: "";
}
.home_clients_container__NBR2A h5 + p {
  margin-top: 2rem;
  white-space: normal;
  word-wrap: break-word;
}

.meta_bar_alpha_container__UwbZI {
  font-size: var(--font-size-small);
  letter-spacing: -0.02em;
  line-height: var(--line-height-small);
  text-transform: uppercase;
}
.meta_bar_alpha_container__UwbZI[data-count="true"] {
  counter-increment: meta-bar-alpha;
}
.meta_bar_alpha_container__UwbZI[data-count="true"]
  .col:nth-child(2)
  span:first-child:after {
  content: counter(meta-bar-alpha, upper-alpha);
}
.meta_bar_alpha_container__UwbZI[data-dot-only="true"] .row {
  justify-content: flex-end;
}
.meta_bar_alpha_container__UwbZI[data-dot-only="true"] .col span {
  float: right;
}
.meta_bar_alpha_container__UwbZI .row {
  margin-top: 2rem;
}
.meta_bar_alpha_container__UwbZI .col:first-child {
  flex: 0 0
    calc(
      (var(--grid-width) + var(--grid-gutter) - var(--grid-padding) * 2) /
        var(--grid-column-count) * 2 - 0rem
    );
}
@media only screen and (min-width: 1280px) {
  .meta_bar_alpha_container__UwbZI .col:first-child {
    flex: 0 0
      calc(
        (var(--grid-width) + var(--grid-gutter) - var(--grid-padding) * 2) /
          var(--grid-column-count) * 4 - 0rem
      );
  }
}
.meta_bar_alpha_container__UwbZI .col:nth-child(2) {
  display: flex;
  flex: 0 0
    calc(
      (var(--grid-width) + var(--grid-gutter) - var(--grid-padding) * 2) /
        var(--grid-column-count) * 4 - var(--grid-gutter)
    );
  justify-content: space-between;
}
@media only screen and (min-width: 1280px) {
  .meta_bar_alpha_container__UwbZI .col:nth-child(2) {
    flex: 0 0
      calc(
        (var(--grid-width) + var(--grid-gutter) - var(--grid-padding) * 2) /
          var(--grid-column-count) * 8 - var(--grid-gutter)
      );
  }
}

.meta_bar_alpha_line__32fPL {
  height: 0.1rem;
  background-color: currentcolor;
}

.meta_bar_alpha_container__UwbZI .row {
  margin-top: 2rem;
}

@media only screen and (min-width: 1280px) {
  .row {
    display: flex;
    justify-content: space-between;
  }
  .row .col {
    flex: 0 0
      calc(
        (var(--grid-width) + var(--grid-gutter) - var(--grid-padding) * 2) /
          var(--grid-column-count) * 6 - var(--grid-gutter)
      );
  }
}

.meta-bar-alpha_container__UwbZI[data-dot-only="true"] .row {
  justify-content: flex-end;
}
