.home_clients_container__NBR2A h2 {
  max-width: calc(
    (var(--grid-width) + var(--grid-gutter) - var(--grid-padding) * 2) /
      var(--grid-column-count) * 3 - var(--grid-gutter)
  );
  text-transform: uppercase;
}
.home_clients_container__NBR2A ul {
  display: flex;
  padding-top: 6.25rem;
}
@media only screen and (min-width: 1024px) {
  .home_clients_container__NBR2A ul {
    padding-top: 12.5rem;
  }
}
.home_clients_container__NBR2A ul:after {
  display: block;
  width: var(--grid-padding);
  flex-shrink: 0;
  content: "";
}
.home_clients_container__NBR2A .home_clients_item__cm4_p {
  width: calc(
    (var(--grid-width) + var(--grid-gutter) - var(--grid-padding) * 2) /
      var(--grid-column-count) * 5 - var(--grid-gutter)
  );
  flex-shrink: 0;
}
@media only screen and (min-width: 720px) {
  .home_clients_container__NBR2A .home_clients_item__cm4_p {
    width: calc(
      (var(--grid-width) + var(--grid-gutter) - var(--grid-padding) * 2) /
        var(--grid-column-count) * 3 - var(--grid-gutter)
    );
  }
}
@media only screen and (min-width: 1024px) {
  .home_clients_container__NBR2A .home_clients_item__cm4_p {
    width: calc(
      (var(--grid-width) + var(--grid-gutter) - var(--grid-padding) * 2) /
        var(--grid-column-count) * 2 - var(--grid-gutter)
    );
  }
}
@media only screen and (min-width: 1280px) {
  .home_clients_container__NBR2A .home_clients_item__cm4_p {
    width: calc(
      (var(--grid-width) + var(--grid-gutter) - var(--grid-padding) * 2) /
        var(--grid-column-count) * 4 - var(--grid-gutter)
    );
    padding-right: calc(
      (var(--grid-width) + var(--grid-gutter) - var(--grid-padding) * 2) /
        var(--grid-column-count) * 1 - var(--grid-gutter)
    );
  }
}
.home_clients_container__NBR2A
  .home_clients_item__cm4_p
  + .home_clients_item__cm4_p {
  margin-left: var(--grid-gutter);
}
.home_clients_container__NBR2A .home_clients_item_logo__55MDM {
  display: flex;
  width: 100%;
  height: 4rem;
  align-items: center;
}
.home_clients_container__NBR2A .home_clients_item_logo__55MDM > * {
  width: 100%;
  height: 100%;
}
.home_clients_container__NBR2A .home_clients_item_logo__55MDM img {
  object-fit: contain;
  object-position: 0 50%;
}
.home_clients_container__NBR2A h5 {
  position: relative;
  padding-top: 5rem;
  margin-top: 2rem;
  text-transform: uppercase;
}
@media only screen and (min-width: 1280px) {
  .home_clients_container__NBR2A h5 {
    padding-top: 10rem;
  }
}
.home_clients_container__NBR2A h5:before {
  position: absolute;
  top: 0;
  left: 0;
  width: 2rem;
  height: 0.2rem;
  background-color: currentcolor;
  content: "";
}
.home_clients_container__NBR2A h5 + p {
  margin-top: 2rem;
  white-space: normal;
  word-wrap: break-word;
}

.meta_bar_alpha_container__UwbZI {
  font-size: var(--font-size-small);
  letter-spacing: -0.02em;
  line-height: var(--line-height-small);
  text-transform: uppercase;
}
.meta_bar_alpha_container__UwbZI[data-count="true"] {
  counter-increment: meta-bar-alpha;
}
.meta_bar_alpha_container__UwbZI[data-count="true"]
  .col:nth-child(2)
  span:first-child:after {
  content: counter(meta-bar-alpha, upper-alpha);
}
.meta_bar_alpha_container__UwbZI[data-dot-only="true"] .row {
  justify-content: flex-end;
}
.meta_bar_alpha_container__UwbZI[data-dot-only="true"] .col span {
  float: right;
}
.meta_bar_alpha_container__UwbZI .row {
  margin-top: 2rem;
}
.meta_bar_alpha_container__UwbZI .col:first-child {
  flex: 0 0
    calc(
      (var(--grid-width) + var(--grid-gutter) - var(--grid-padding) * 2) /
        var(--grid-column-count) * 2 - 0rem
    );
}
@media only screen and (min-width: 1280px) {
  .meta_bar_alpha_container__UwbZI .col:first-child {
    flex: 0 0
      calc(
        (var(--grid-width) + var(--grid-gutter) - var(--grid-padding) * 2) /
          var(--grid-column-count) * 4 - 0rem
      );
  }
}
.meta_bar_alpha_container__UwbZI .col:nth-child(2) {
  display: flex;
  flex: 0 0
    calc(
      (var(--grid-width) + var(--grid-gutter) - var(--grid-padding) * 2) /
        var(--grid-column-count) * 4 - var(--grid-gutter)
    );
  justify-content: space-between;
}
@media only screen and (min-width: 1280px) {
  .meta_bar_alpha_container__UwbZI .col:nth-child(2) {
    flex: 0 0
      calc(
        (var(--grid-width) + var(--grid-gutter) - var(--grid-padding) * 2) /
          var(--grid-column-count) * 8 - var(--grid-gutter)
      );
  }
}

.meta_bar_alpha_line__32fPL {
  height: 0.1rem;
  background-color: currentcolor;
}

.carousel_container___XVuJ {
  position: relative;
  left: calc(var(--grid-padding) * -1);
  width: calc(100% + var(--grid-padding) * 2);
  cursor: pointer;
  overflow: auto !important;
}
.carousel_container___XVuJ[data-show-cursor="medium"] {
  cursor: unset;
}
.carousel_container___XVuJ[data-show-cursor="medium"] .carousel_cursor__uEXLJ {
  display: none;
}
@media only screen and (min-width: 1024px) {
  .carousel_container___XVuJ[data-show-cursor="medium"] {
    cursor: pointer;
  }
  .carousel_container___XVuJ[data-show-cursor="medium"]
    .carousel_cursor__uEXLJ {
    display: block;
  }
}
.carousel_container___XVuJ[data-show-cursor="large"] {
  cursor: unset;
}
.carousel_container___XVuJ[data-show-cursor="large"] .carousel_cursor__uEXLJ {
  display: none;
}
@media only screen and (min-width: 1280px) {
  .carousel_container___XVuJ[data-show-cursor="large"] {
    cursor: pointer;
  }
  .carousel_container___XVuJ[data-show-cursor="large"] .carousel_cursor__uEXLJ {
    display: block;
  }
}

.carousel_stage__3jWcS {
  position: relative;
  overflow: auto !important;
  padding-left: var(--grid-padding);
  /* -webkit-overflow-scrolling: touch; */
  /* -ms-overflow-style: none; */
  /* scrollbar-width: none; */
}
.carousel_stage__3jWcS::-webkit-scrollbar {
  display: none;
}

.asset_image_asset__HB8_6 {
  position: relative;
  overflow: hidden;
  width: 100%;
}
.asset_image_asset__HB8_6 svg {
  display: block;
  width: 100%;
  height: auto;
  pointer-events: none;
}
.asset_image_asset__HB8_6 img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.asset_image_asset__HB8_6 figcaption {
  margin-top: 1.5rem;
  font-size: var(--font-size-small);
  line-height: 1.2;
}
.asset_image_asset__HB8_6 figcaption:before {
  margin-right: 0.35em;
  content: "â—";
}

.carousel_progress__xZlwe {
  position: relative;
  height: 0.2rem;
  margin: 9rem var(--grid-padding) 0;
}
@media only screen and (min-width: 1024px) {
  .carousel_progress__xZlwe {
    margin: 11rem var(--grid-padding) 0;
  }
}
.carousel_progress__xZlwe:before {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: currentcolor;
  content: "";
  opacity: 0.25;
}

.carousel_progress_bar__VCzY_ {
  position: absolute;
  z-index: var(--bd-layout-z-index-z-1);
  top: 0;
  left: 0;
  display: block;
  width: 40rem;
  height: 0.2rem;
  background-color: currentcolor;
}

.cursor_takeover_container__K8H04 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
}
.cursor_takeover_cursor__Y7RJr {
  position: absolute;
  top: 0;
  left: 0;
  will-change: transform;
}

.cursor_takeover_body__SkEsL {
  position: absolute;
  transform: translate(-50%, -50%);
}

.carousel_cursor__uEXLJ {
  width: 8rem;
  height: 8rem;
  padding: 1rem;
  border-radius: 50%;
  background: var(--bd-color-background-carousel-cursor);
  font-size: 1rem;
  font-weight: var(--font-weight-bold);
  text-align: center;
  text-transform: uppercase;
  transition: width var(--bd-time-transition-250) var(--ease-out-soft),
    height var(--bd-time-transition-250) var(--ease-out-soft),
    left var(--bd-time-transition-250) var(--ease-out-soft),
    top var(--bd-time-transition-250) var(--ease-out-soft);
}
@media only screen and (min-width: 1024px) {
  .carousel_cursor__uEXLJ {
    width: 12rem;
    height: 12rem;
    padding: 2rem;
    font-size: 1.4rem;
  }
}
.carousel_cursor__uEXLJ[data-active="true"] {
  opacity: 1;
}
.carousel_cursor__uEXLJ[data-active="true"]
  .carousel_cursor__label__LnY_N
  span {
  animation: translate-up-100 var(--bd-time-transition-650) var(--ease-garret)
    forwards;
}
.carousel_cursor__uEXLJ[data-dragging="true"] {
  width: 7rem;
  height: 7rem;
}
.carousel_cursor__uEXLJ[data-dragging="true"] .carousel_cursor__carets__bD3XY {
  opacity: 1;
  transform: scale(1);
}
.carousel_cursor__uEXLJ[data-dragging="true"] .carousel_cursor__label__LnY_N {
  opacity: 0;
}
.carousel_cursor__uEXLJ[data-is-over-anchor="true"] {
  opacity: 0.5;
}
.carousel_cursor__uEXLJ[data-is-over-anchor="true"] > span {
  opacity: 0;
}

.carousel_cursor__uEXLJ > span {
  position: relative;
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.carousel_cursor__label__LnY_N {
  position: relative;
  overflow: hidden;
  padding: 0.5rem 0;
  color: var(--bd-color-text-base);
  transition: opacity var(--bd-time-transition-150) var(--ease-out-soft);
}
.carousel_cursor__label__LnY_N > span:first-child {
  padding-top: 0.5rem;
  opacity: 0;
}
.carousel_cursor__label__LnY_N > span:nth-child(2) {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding-top: 0.5rem;
}
.carousel_cursor__label__LnY_N > span:nth-child(3) {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 100%;
  padding-top: 0.5rem;
}

.meta_bar_alpha_container__UwbZI .row {
  margin-top: 2rem;
}

@media only screen and (min-width: 1280px) {
  .row {
    display: flex;
    justify-content: space-between;
  }
  .row .col {
    flex: 0 0
      calc(
        (var(--grid-width) + var(--grid-gutter) - var(--grid-padding) * 2) /
          var(--grid-column-count) * 6 - var(--grid-gutter)
      );
  }
}

.meta-bar-alpha_container__UwbZI[data-dot-only="true"] .row {
  justify-content: flex-end;
}
